<%# cl_image_tag "", height: 300, width: 500, crop: :thumb, gravity: :face %>



<div id="navbar">
  <%= image_tag "cocktail.svg", alt: "Cocktail", width: 70 %>
   <h1>Mr Cocktail</h1>
</div>
<div class="text-center">
  <%= link_to "Create Cocktail", new_cocktail_path, class: "btn create-button" %>
</div>
<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bar.jpg', crop: :fill %>')">




  <div class="container">
    <div class="row">

      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>')">
            <div class="card-category">
              <%= cocktail.name %>
            </div>
            <div class="card-description">
              <%= link_to "View Cocktail", cocktail_path(cocktail), class: "btn create-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




